.casa {
    width:150px;
    height:150px;
    font-size:100px;
    color:black;
    float: left;
    border-right: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    
}
#caixao {
    width: 453px;
    height: 450px;
    border: solid 3px;
    background: orangered;
    margin-left: 3px;
    
}

.linha {
    height: 150px;
    border-bottom: solid 1px;
    
    
}

#caixao.locked {
    pointer-events: none;
}
